<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.ssm.mapper.OrderdetailMapper" >
  <resultMap id="BaseResultMap" type="com.wf.ssm.po.Orderdetail" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="orders_id" property="ordersId" jdbcType="VARCHAR" />
    <result column="products_id" property="productsId" jdbcType="VARCHAR" />
    <result column="products_num" property="productsNum" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, orders_id, products_id, products_num
  </sql>
  
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from orderdetail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from orderdetail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.wf.ssm.po.Orderdetail" >
    insert into orderdetail (id, orders_id, products_id, products_num)
    values (#{id,jdbcType=VARCHAR}, #{ordersId,jdbcType=VARCHAR}, #{productsId,jdbcType=VARCHAR}, 
      #{productsNum,jdbcType=INTEGER})
  </insert>
  
  <insert id="insertSelective" parameterType="com.wf.ssm.po.Orderdetail" >
    insert into orderdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ordersId != null" >
        orders_id,
      </if>
      <if test="productsId != null" >
        products_id,
      </if>
      <if test="productsNum != null" >
        products_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ordersId != null" >
        #{ordersId,jdbcType=VARCHAR},
      </if>
      <if test="itemsId != null" >
        #{productsId,jdbcType=VARCHAR},
      </if>
      <if test="itemsNum != null" >
        #{productsNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateSelective" parameterType="com.wf.ssm.po.Orderdetail" >
    update orderdetail
    <set >
      <if test="ordersId != null" >
        orders_id = #{ordersId,jdbcType=VARCHAR},
      </if>
      <if test="itemsId != null" >
        products_id = #{productsId,jdbcType=VARCHAR},
      </if>
      <if test="itemsNum != null" >
        products_num = #{productsNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="update" parameterType="com.wf.ssm.po.Orderdetail" >
    update orderdetail
    set orders_id = #{ordersId,jdbcType=VARCHAR},
    products_id = #{productsId,jdbcType=VARCHAR},
    products_num = #{productsNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>